<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="/static/resume.css">
</head>
<body>
    <div class="container">
        <h1>Haroon Rasheed</h1>
        <p><b>Email:</b> haroonrasheed1056@gmail.com</p>
        <p><b>Phone:</b> +92 318-7040877</p>
        <p><b>About Me:</b> Passionate and self-motivated Python developer with a
solid foundation in web development, acquired through
hands-on project experience and continuous self-learning.
I am currently pursuing a Bachelor's degree in Computer
Science, having completed 4 semesters and about to start my 5th semester. My journey has been fueled by a love for
technology and a proactive attitude toward learning. I have
successfully developed several web applications using
Python and Django, and I am eager to bring my skills and
enthusiasm to a dynamic team through an internship. My
goal is to apply my knowledge in a real-world setting,
continuously learn, and contribute to innovative projects</p>

        <h2>Experience</h2>
        <ul>
            <li>
                <h3>Software Engineer at Tech Company</h3>
                <p>January 2020 - Present</p>
                <p>Developed and maintained web applications using Django and React...</p>
            </li>
            <li>
                <h3>Junior Developer at Another Company</h3>
                <p>June 2018 - December 2019</p>
                <p>Worked on various projects involving data analysis and machine learning...</p>
            </li>
        </ul>

        <h2>Projects</h2>
        <ul>
            <li>
                <h3>E-commerce Website</h3>
                <p>Developed a full-featured e-commerce website using
                    Python Django, enhancing user experience and
                    streamlining the shopping process.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Library Management System</h3>
                <p>Created a system to manage library operations using Python
                    Django, improving data organization and accessibility.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>School Management System</h3>
                <p>Built a comprehensive system for managing school
operations using Python Django</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Web Application</h3>
                <p>Developed various web applications, including a calculator
and resume website, using Python Django, showcasing
versatility and technical proficiency.
</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Data Forms</h3>
                <p>Created two forms that store data in a MySQL database using
PyQt5, demonstrating database integration and UI
development skills</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Simple Calculator</h3>
                <p>Developed a calculator starting with a signup screen and
moving to the calculator functionality using PyQt5.
</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Build App</h3>
                <p>Built a basic application with two screens using PyQt5,
not including database integration, showcasing application
development and navigation.
</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Basic Codes</h3>
                <p>Implemented basic codes for various functionalities, including
Current Date and Time, 10 Second Countdown Timer, IP
Address Finder, MAC Address Finder, and Toast Notification,
demonstrating a broad range of programming skills.
</p>
            </li>
        </ul>

        <h2>Education</h2>
        <ul>
            <li>
                <h3>Bachelor of Science in Computer Science</h3>
                <p>Govt College University Faisalabad</p>
                <p>Graduation: Continues</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>DAE Electrical Technology</h3>
                <p>Govt Technical College, Faisalabad</p>
                <p>Graduation: 2019-2022</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Matric in Science</h3>
                <p>Govt Cresent Model High  Secondary School, Faisalabad</p>
                <p>Graduation: 2017-2019</p>
            </li>
        </ul>

        <h2>Self Learning</h2>
        <ul>
            <li>
                <p><b>1.</b> Gained comprehensive knowledge in Python programming
                    and web development through online resources such as
                    YouTube tutorials and other internet platforms.</p>
                <p><b>2.</b> Continuously learning new technologies and frameworks to
                    stay updated with industry trends.</p>
            </li>
                    

        </ul>    

        <h2>Skills</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Django</li>
            <li>MySql</li>
            <li>Oracle</li>
            <li>Pyqt5</li>
            <li>Numpy</li>
            <li>Pandas</li>
            <li>Matplotlib</li>
        </ul>
        <h2>Languages</h2>
        <ul>
            <li>English</li>
            <li>Urdu</li>
            <li>Punjabi</li>
        </ul>
        <h2>Profile Links</h2>
        <ul>
            <li><a href="https://github.com/Haroon1056">GitHub Profile</a></li>
            <li><a href="https://www.linkedin.com/in/haroon-rasheed-a181371b7/">Linkedin Profile</a></li>
        </ul>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
